.torm-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.torm-header-inner-first {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
}

.torm-header-inner-second {
  display: flex;
  flex-grow: 1;
}

.torm-header-inner-second .torm-search-form {
  flex: 1;
}

.torm-header-inner-second .torm-search-btn {
  margin-left: 30px;
}

.torm-header-inner-second .torm-clear-search-btn {
  margin-left: 10px;
}

.torm-header-inner-second .torm-export-btn {
  margin-left: 10px;
}

.torm-header-inner-first .torm-export-btn.auto-left {
  margin-left: auto;
}

.torm-ant-col.hidden {
  display: none;
}

.torm-arrow {
  margin-left: 5px;
  transition: transform 0.2s;
}

.torm-arrow.collapsed {
  transform: rotate(180deg);
}
